.header {
  background-color: white;
}
.nav {
  color: #2e2f42;
}
.nav:hover,
.nav:focus {
  color: #404bbf;
}
.main-title {
  font-family: 'Roboto', serif;
  font-weight: 700;
  font-style: normal;
  font: size 56px;
  line-height: 1.07;
  color: white;
  background-color: #2e2f42;
}

.body {
  color: white;
  font-size: 16px;
  line-height: 1.5;
  font-family: .roboto-regular {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .roboto-medium {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  .roboto-bold {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: normal;
  }
}
.main-title .order-button {
  color: white;
  background-color: #4d5ae5;
  font-family: 'Roboto';
  font-weight: regular;
  font-size: 12px;
  line-height: 1.3;
}
.order-button {
  cursor: pointer;
}
.main-title .order-button:hover {
  background-color: #404bbf;
}
.advantages-title {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
}
.advantages-descr {
  color: #434455;
  font-family: 'Roboto';
  font-weight: regular;
  font-size: 16px;
  line-height: 1.5;
}
.team {
  background-color: #f4f4fd;
}

.team-title {
  color: #2e2f42;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 36px;
}
.team-repr {
  background-color: white;
}
.team-name {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
}
.team-position {
  color: #2e2f42;
  font-family: 'Roboto';
  font-weight: regular;
  font-size: 16px;
}
.portfolio-repr {
  background-color: #e7e9fc;
  color: #2e2f42;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 36px;
}
.portfolio-name {
  color: #2e2f42;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
}
.portfolio-descr {
  color: #2e2f42;
  font-family: 'Roboto';
  font-weight: regular;
  font-size: 16px;
}
.footer {
  background-color: #2e2f42;
  font-family: 'Roboto';
  font-weight: regular;
  font-size: 16px;
  color: #f4f4fd;
}
